.home {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home__button {
    
}

.home__text1, .home__text2 {
    color: white;
    text-align: center;
    margin: 1em;
}

.home__text1 {
    font-size: 1.8em;
}