@media (min-width: 500px) {
    .nav-arrows {
        display: none;
    }

    .nav-list {
        display: flex;
    }

}

@media (min-width: 380px) {
    .team-card__form__color__kit {
        transform: scale(2.5);
        padding-right: var(--margin-M);
    }

    .team-card__form__color__picker {
        margin: var(--margin-M);
        justify-content: normal;
        padding-right: var(--margin-M);
        padding-bottom: var(--margin-L);
    }

    .team-card__form__color {
        flex-direction: row;
    }
    
}