.nav-list {
    display: flex;
    justify-content: space-between;
    margin:0 2em 0 2em;
    padding: 0;
}

.nav-list__item {
    text-align: center;
    border: 1px solid black;
    flex-grow: 1;
    align-items: center;
    list-style-type: none;
}