button {
    display: inline-block;
    border: none;
    margin: 0;
    background: none;
    text-decoration: none;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
}

body {
    margin: 0;
}

button:focus {
    outline: none;
}